@charset "utf-8";body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    background: #fff;
    color: #000;
    text-align: center;
    font-family: roboto;
    font-weight: 400
}

div,ul,h1,h2,h3,h4,h5,li,p,img,form,input,textarea {
    margin: 0;
    padding: 0
}

header,section,footer,aside,nav,main,article,figure {
    display: block
}

table,tr,td {
    border: 0
}

a {
    outline: none;
    color: inherit;
    text-decoration: none
}

img {
    border: none
}

li {
    list-style: none
}

* {
    box-sizing: border-box
}

.img-full {
    max-width: 100%
}

.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Medium.woff2) format('woff2'),url(Roboto-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Italic.woff2) format('woff2'),url(Roboto-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Bold.woff2) format('woff2'),url(Roboto-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.woff2) format('woff2'),url(Roboto-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: roboto;
    src: url(Roboto-MediumItalic.woff2) format('woff2'),url(Roboto-MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: dm sans;
    src: url(DMSans-Bold.woff2) format('woff2'),url(DMSans-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    position: relative
}

.header {
    float: left;
    width: 100%;
    background: #262727;
    padding: 12px 0 15px;
    position: relative;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.1)
}

.logo {
    float: left
}

.header p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size: 13px;
    line-height: 13px;
    top: -2px;
    color: #b9b9b9;
    letter-spacing: .5px;
    font-weight: 400
}

.sec-1 {
    float: left;
    width: 100%;
    padding: 40px 0 50px;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #cacacc
}

.innerContainer {
    display: inline-block;
    vertical-align: top;
    max-width: 900px;
    width: 100%;
    text-align: left
}

.breadcrumb {
    float: left;
    width: 100%
}

.breadcrumb a {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #848484
}

.breadcrumb img {
    display: inline-block;
    vertical-align: middle;
    margin: -4px 3px 0
}

.mainHeading {
    float: left;
    width: 100%;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    color: #000;
    margin-top: 20px;
    font-family: dm sans
}

.mainHeading2 {
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #000;
    margin-top: 20px;
    font-family: dm sans
}

.topText {
    float: left;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #1d1d1d;
    margin-top: 20px
}

.topCaption {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #1d1d1d;
    margin-top: 30px;
    padding: 5px 8px;
    background: #e9edf4
}

.commonImage {
    float: left;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px
}

.shadow {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2)
}

.seenHead {
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    color: #1d1d1d;
    font-weight: 400;
    position: relative;
    background: url(../images/seenLine.png) no-repeat center 10px
}

.seenBox {
    float: left;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.seenBox img.size-1 {
    width: 15%
}

.seenBox img.size-2 {
    width: 12%
}

.seenBox img.size-3 {
    width: 17%
}

.seenBox img.size-4 {
    width: 10%
}

.note {
    float: left;
    width: 100%;
    margin-top: 30px;
    background: #f1f1f1;
    border-left: 3px solid #191919;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #2a2a2a;
    font-style: italic;
    padding: 5px 0 5px 13px
}

.commonText {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #1d1d1d;
    margin-top: 30px
}

.commonHead {
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    color: #000;
    margin-top: 40px
}

.commonHead2 {
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #000;
    margin-top: 35px
}

ul.type-list {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding-left: 22px
}

ul.type-list li {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #1d1d1d;
    margin-top: 15px;
    list-style: disc
}

.listNo {
    float: left;
    width: 100%;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    padding-left: 70px;
    position: relative;
    font-size: 30px;
    line-height: 40px
}

.listNo span {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #faeac9;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    font-weight: 700
}

.quoteBox {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 30px 40px 30px 20px;
    background: #fff;
    border-radius: 10px
}

.erica {
    float: left;
    width: 360px;
    max-width: 100%
}

.quoteText {
    float: right;
    width: calc(100% - 450px);
    position: relative;
    margin-top: 10px;
    border-top: 1px solid #ececec
}

.quoteMark {
    position: absolute;
    left: -50px;
    top: -30px
}

.quoteText p {
    float: left;
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    font-weight: 500;
    font-style: italic;
    color: #1d1d1d
}

.quoteText p span {
    font-weight: 400;
    font-style: normal
}

.btnBox {
    float: left;
    width: 100%;
    margin-top: 50px;
    text-align: center
}

.riskBtn {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 80px;
    border-radius: 6px;
    border: 1px solid #524a36;
    font-size: 36px;
    line-height: 80px;
    font-family: dm sans;
    font-weight: 700;
    color: #000;
    background: #f7dea0;
    background: linear-gradient(180deg,rgba(247,222,160,1) 0%,rgba(240,194,79,1) 100%)
}

.flagIcon {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 10px 0 0
}

.btnCap {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    color: #1d1d1d;
    font-weight: 500;
    margin-top: 10px
}

.promiseBox {
    float: left;
    width: 100%;
    padding: 30px 38px 40px;
    margin-top: 40px;
    border-radius: 12px;
    background: #e7e8f1
}

.promiseHead {
    float: left;
    width: 100%;
    position: relative;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #1d1d1d;
    text-align: center
}

.promiseHead:before,.promiseHead:after {
    content: '';
    position: absolute;
    top: 12px;
    width: 290px;
    height: 2px;
    background: #aba9b9
}

.promiseHead:before {
    left: 10px
}

.promiseHead:after {
    right: 10px
}

.promiseList {
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.promiseList li {
    width: 16.6%;
    position: relative
}

.promiseList li:after {
    content: '';
    position: absolute;
    top: 45px;
    bottom: 5px;
    width: 1px;
    background: #a2a0b1;
    right: 0
}

.promiseList li:last-child:after {
    display: none
}

.promiseList li p {
    font-size: 16px;
    line-height: 21px;
    color: #1d1d1d;
    font-weight: 400;
    margin-top: 5px
}

.reviews {
    float: left;
    width: 100%;
    border-radius: 14px;
    max-width: 100%;
    margin-top: 40px
}

.reviewers {
    float: left;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 16px;
    margin-top: 40px
}

.testimonials {
    float: left;
    width: 100%;
    margin-top: 10px
}

.testimonials li {
    float: left;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background: #e4f3fb;
    border-radius: 10px;
    border: 1px solid #d6d9da
}

.testP {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #1d1d1d;
    font-weight: 400
}

.testN {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #1d1d1d;
    font-weight: 500;
    margin-top: 15px
}

.artistBox {
    float: left;
    width: 100%;
    border-radius: 10px;
    padding: 10px 30px 30px;
    margin-top: 40px;
    text-align: center
}

.dblQuoteBox {
    float: left;
    width: 100%;
    padding: 30px 70px;
    margin-top: 40px;
    position: relative;
    border: 2px solid #001c72
}

.startQuote {
    position: absolute;
    top: -22px;
    left: -24px
}

.endQuote {
    position: absolute;
    bottom: -22px;
    right: -24px;
    transform: rotate(180deg)
}

.artistText {
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    color: #1d1d1d;
    font-weight: 500;
    font-style: italic
}

.artistSign {
    float: left;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    color: #5c5c5c;
    font-weight: 500;
    margin-top: 30px
}

.lastBox {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 20px 30px 20px 20px;
    background: #e4f3fb;
    border: 1px solid #959595
}

.lastBox p {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #1d1d1d;
    font-weight: 500
}

.lastBox p span {
    color: red
}

.instaBox {
    float: left;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.instaInner {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.instaLogo {
    width: 33%
}

.instaInner img {
    width: 49%;
    margin-bottom: 5px
}

.footer {
    float: left;
    width: 100%;
    padding: 40px 0 50px;
    background: #fff;
    text-align: center;
    position: relative
}

.ftrList {
    float: left;
    width: 100%
}

.ftrList li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
    color: #1d1d1d;
    font-weight: 400
}

.ftrText1 {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #1d1d1d;
    font-weight: 400;
    margin-top: 20px
}

.ftrHead {
    float: left;
    width: 100%;
    font-size: 15px;
    line-height: 19px;
    color: #1d1d1d;
    font-weight: 400;
    margin-top: 30px;
    text-transform: uppercase
}

.ftrText2 {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    color: #1d1d1d;
    font-weight: 400
}

.mediumWeight {
    font-weight: 500
}

.margin20 {
    margin-top: 20px
}

.mt50 {
    margin-top: 50px
}

.fl {
    float: left
}

.fr {
    float: right
}

.show-tab,.show-mob {
    display: none
}

.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

@keyframes pulse {
    0% {
        transform: scale(.9)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(.9)
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(.95)
    }

    50% {
        -webkit-transform: scale(1)
    }

    100% {
        -webkit-transform: scale(.95)
    }
}

@media only screen and (max-width: 1187px) {
    .container {
        width:1004px
    }
}

@media only screen and (max-width: 1021px) {
    .container {
        width:750px
    }

    .show-desk {
        display: none
    }

    .show-tab {
        display: block
    }

    .mainHeading {
        font-size: 33px;
        line-height: 40px
    }

    .mainHeading2 {
        font-size: 25px;
        line-height: 40px
    }

    .topCaption {
        padding: 10px 15px
    }

    .topText {
        font-size: 19px
    }

    .commonHead {
        font-size: 34px;
        line-height: 44px
    }

    .commonHead2 {
        font-size: 30px;
        line-height: 40px
    }

    .commonHead.listNo {
        font-size: 28px;
        line-height: 32px
    }

    .quoteBox {
        padding: 30px 20px
    }

    .erica {
        width: 260px;
        margin-top: 25px
    }

    .quoteText {
        width: calc(100% - 300px)
    }

    .promiseHead:before,.promiseHead:after {
        width: 240px
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width:100%;
        padding: 0 15px;
        max-width: 600px;
        box-sizing: border-box
    }

    .show-desk {
        display: none
    }

    .show-mob {
        display: block
    }

    .hide-mob {
        display: none
    }

    .header {
        padding: 5px 0 10px
    }

    .logo {
        width: 90px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px
    }

    .header p {
        font-size: 10px;
        line-height: 12px;
        position: static;
        text-align: center;
        width: 100%;
        transform: none
    }

    .header .innerContainer {
        text-align: center
    }

    .sec-1 {
        padding: 15px 0 30px
    }

    .breadcrumb a {
        font-size: 15px;
        line-height: 15px
    }

    .mainHeading {
        font-size: 25px;
        line-height: 30px
    }

    .mainHeading2 {
        font-size: 20px;
        line-height: 30px
    }

    .topText {
        font-size: 17px;
        margin-top: 15px
    }

    .topCaption {
        font-size: 17px;
        margin-top: 20px;
        padding: 6px 10px
    }

    .commonImage {
        margin-top: 30px
    }

    .seenHead {
        font-size: 12px
    }

    .seenBox {
        margin-top: 5px
    }

    .seenBox img {
        width: 30%;
        margin-top: 10px
    }

    .note {
        font-size: 17px
    }

    .commonText {
        font-size: 17px;
        line-height: 27px;
        letter-spacing: .3px;
        margin-top: 20px
    }

    ul.type-list li {
        font-size: 17px;
        line-height: 27px;
        letter-spacing: .3px;
        margin-top: 10px
    }

    .listNo {
        padding-left: 48px;
        font-size: 20px;
        line-height: 26px;
        margin-top: 30px
    }

    .listNo span {
        width: 35px;
        height: 35px;
        font-size: 18px;
        line-height: 35px;
        top: -2px
    }

    .commonHead {
        font-size: 24px;
        line-height: 32px;
        margin-top: 30px
    }

    .commonHead2 {
        font-size: 20px;
        line-height: 29px;
        margin-top: 28px
    }

    .commonHead.listNo {
        padding-left: 50px;
        font-size: 20px;
        line-height: 26px
    }

    .quoteBox {
        padding: 20px 15px;
        margin-top: 20px
    }

    .erica {
        width: 100%;
        margin-top: 0
    }

    .quoteText {
        width: 100%;
        margin-top: 35px
    }

    .quoteMark {
        left: 0;
        top: -20px;
        width: 30px
    }

    .quoteText p {
        font-size: 17px;
        line-height: 27px;
        letter-spacing: .3px;
        margin-top: 25px
    }

    .btnBox {
        margin-top: 20px
    }

    .riskBtn {
        height: 55px;
        font-size: 24px;
        line-height: 55px
    }

    .btnCap {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .5px
    }

    .btnCap span {
        display: inline-block;
        vertical-align: middle;
        text-align: left
    }

    .flagIcon {
        display: inline-block;
        vertical-align: middle;
        margin: 2px 7px 0 0;
        width: auto
    }

    .promiseBox {
        padding: 20px 15px;
        margin-top: 30px
    }

    .promiseHead {
        font-size: 20px;
        line-height: 20px
    }

    .promiseHead:before,.promiseHead:after {
        top: 11px;
        width: 24%;
        height: 1px
    }

    .promiseList {
        margin-top: 5px
    }

    .promiseList li {
        width: 32%;
        margin-top: 15px
    }

    .promiseList li:after {
        top: 45px;
        bottom: 5px;
        right: -3px
    }

    .promiseList li p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 0
    }

    .promiseList li:nth-child(3):after {
        display: none
    }

    .reviews,.reviewers {
        margin-top: 25px
    }

    .testimonials {
        width: 100%;
        margin-top: 0
    }

    .testimonials li {
        padding: 15px
    }

    .testP,.testN {
        font-size: 17px;
        line-height: 27px
    }

    .testN {
        margin-top: 5px;
        font-size: 17px;
        line-height: 27px
    }

    .artistBox {
        padding: 10px 15px 20px;
        margin-top: 30px
    }

    .artistBox .commonText {
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px
    }

    .dblQuoteBox {
        padding: 30px 15px;
        margin-top: 20px
    }

    .startQuote {
        top: -16px;
        left: -12px;
        width: 50px
    }

    .endQuote {
        bottom: -16px;
        right: -12px;
        width: 50px
    }

    .artistText {
        font-size: 19px;
        line-height: 27px
    }

    .artistSign {
        font-size: 16px;
        margin-top: 14px
    }

    .lastBox {
        padding: 20px 15px 15px
    }

    .lastBox p {
        font-size: 16px
    }

    .instaInner {
        width: 100%
    }

    .instaLogo {
        width: 100%
    }

    .instaInner img {
        margin-bottom: 8px
    }

    .footer {
        padding: 20px 0 90px
    }

    .ftrList li {
        font-size: 14px
    }

    .ftrText1 {
        font-size: 14px;
        margin-top: 10px
    }

    .ftrHead {
        font-size: 14px;
        margin-top: 15px
    }

    .ftrText2 {
        font-size: 11px;
        line-height: 16px
    }

    .mt50 {
        margin-top: 30px
    }

    .margin20 {
        margin-top: 15px
    }

    #call-btn {
        background: rgba(0,0,0,.7);
        padding: 7px 10px;
        position: fixed;
        bottom: 0%;
        left: auto;
        z-index: 99;
        transition: bottom 1s;
        display: table;
        width: 100%
    }
}
